annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.14.1
argon2-cffi
click==8.4.2
cloudpickle==3.1.2
demucs==4.0.1
dnspython==2.8.0
dora_search==0.1.12
einops==0.8.2
email-validator==2.3.0
fastapi==0.139.0
filelock==3.29.5
fsspec==2026.6.0
greenlet==3.5.3
h11==0.16.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
julius==0.2.8
lameenc==1.8.4
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.6.1
numpy==1.26.4
omegaconf==2.3.1
openunmix==1.3.0
pydantic==2.13.4
pydantic_core==2.46.4
python-multipart==0.0.32
PyYAML==6.0.3
retrying==1.4.2
SQLAlchemy==2.0.51
starlette==0.47.3
submitit==1.5.4
sympy==1.14.0
torch==2.2.2
torchaudio==2.2.2
tqdm==4.68.3
treetable==0.2.6
typing-inspection==0.4.2
typing_extensions==4.16.0
uvicorn==0.50.1